{
    # Install Roles
    #old roles (currently phasing thses out)
    shouldInstallVideoUtils = false;
    shouldInstallAudioUtils = true;
    shouldInstallAudioApps = true;
    shouldInstallAppss = true;
    shouldInstallImageApps = true;

    # New Roles (working on implimenting these)
    shouldInstallAudio = true;
    shouldInstallApps = true;
    shouldInstallImage = false;
    shouldInstallVideo = false;

    isWork = false;
    
    # System Info
    isDarwin = {{ if eq "darwin" .chezmoi.os }}true{{ else }}false{{ end }};
    isWsl = {{ if and (eq .chezmoi.os "linux") (.chezmoi.kernel) }}{{ if ( .chezmoi.kernel.osrelease | lower | contains "microsoft") }}true{{ else }}false{{ end }}{{ else }}false{{ end }};
    isLinux = {{ if (eq .chezmoi.os "linux") }}true{{ else }}false{{ end }};
    isGui = true;

    # User Info
    username = "{{ .chezmoi.username }}";
    homeDirectory = "{{ .chezmoi.homeDir }}";
}
